.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #3699FF;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

    .tooltip-text::before {
        content: "";
        position: absolute;
        transform: rotate(45deg);
        background-color: #3699FF;
        padding: 5px;
        z-index: 1;
    }

.hover-text:hover .tooltip-text {
    visibility: visible;
}

#bottom {
    top: 60px;
    left: -60%;
}

    #bottom::before {
        top: -5%;
        left: 45%;
    }



.hover-text {
    position: relative;
   cursor:pointer;
}
